<div
  class="left-panel container relative flex flex-col items-center pt-[175px] gap-[115px] px-11 bg-[#03459c] h-screen w-[470px] relative overflow-hidden shadow-[11px_0px_10.2px_-1px_#00000040]"
>
  <img src="almanara-logo.png" alt="logo" class="" />
  <div class="text-center">
    <h2
      class="mb-4 zen-kaku-gothic-antique-black text-white text-[39px] leading-[46px]"
    >
      Partnership for Business Growth
    </h2>
    <p class="text-[#BDBDBD] leading-[28px] zen-kaku-gothic-antique-regular">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididun.
    </p>
  </div>
  <img
    src="Background.png"
    alt="Background"
    class="absolute w-[1177px] max-w-max h-[785px] top-[402px] -left-[266px]"
  />
</div>
